body {
    background-color: #f5d9df;
    font-family: Nunito, sans-serif;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.blurb h2 {
    color: #ea2c2c;
    font-weight: 100;
    overflow-y: hidden;
    margin: 0 0rem 1.25rem;
    padding: 0;
    margin
}



.blurb p,
ul {
    color: #ee698c;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}




#form-check,
.form-check-label {
    border-color: #ea2c2c;
    box-shadow: none;
    background-color: #f5d9df;
    color: #ea2c2c;



}

#form-check:checked:focus {
    background-color: #ea2c2c;
}

.email,
.password {
    color: #ee698c;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5;
}

.btn {
    background-color: #ea2c2c;
    border-color: #ea2c2c;
    font-size: 1.125rem;
    padding: 0.5rem 0.75rem;
    color: white;

}

.flex {
    display: flex;
    justify-content: center;
}

.btn:active {
    background-color: #ea2c2c !important;
    border-color: #ea2c2c !important;
    color: white !important;

}

.btn:hover {
    background-color: #f498b8;
    border-color: #ea2c2c;
    color: white;

}


.form-control {
    border-color: #ee698c !important;

}

.form-control::placeholder {
    color: #ee698c;

}

.form-control:focus {
    border-color: #ee698c;
    box-shadow: none;

}


input {
    color: #ee698c !important;
}




#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;


}

#mainNavbar .navbar-brand {
    color: #ea2c2c;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
    font-weight: 300;

}

#mainNavbar .nav-link:hover {
    color: #ea2c2c;
}

#headingGroup span {
    color: #ea2c2c;

}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    overflow-y: hidden;

}

.navbar-toggler {
    border-color: #ee698c;
    box-shadow: none !important;


}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ee698c' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar.scrolled {
    background-color: rgb(222, 192, 222);
    transition: background 500ms;
}

.container-fluid {
    overflow: hidden;
}

@media (max-width:1350px) {
    #headingGroup h1 {
        font-size: 3rem;

    }
}

@media (max-width:600px) {
    * {
        overflow-x: hidden;
    }
}
